<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/webModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>测试首页</title>
</head>

<body>

<!--<h1>Hello : <b th:text="${name}">姓名</b></h1>-->
<!--<h1>sss : <b th:text="${sss}">姓名</b></h1>-->
<!--<h1>password : <b th:text="${password}">姓名</b></h1>-->
<!--<h1>password : <b th:text="${password}">姓名</b></h1>-->
<!--<h1>Hello : <b th:text="${name}">姓名</b></h1>-->
<!--<h1>Helldsadsso : <b th:text="${name}"></b> </h1>-->
<!--<h1>Hello : <b th:text="${name}"></b> </h1>-->
<!--<h1>Hello : <b th:text="${name}"></b> </h1>-->
<!--<h1>Helsddslo : <b th:text="${name}"></b> </h1>-->
<!--<h1>Helsddssssddlo : <b th:text="${name}"></b> </h1>-->


<!--<h1>你好 : <b th:text="${name}">姓名</b>!</h1>-->
<!--<p>现在年龄：<span th:text="${age}"></span></p>-->



     <div th:fragment="content" th:remove="tag">
          <h2>这里显示专属本页面的内容</h2>
         <span th:text="${#dates.format(curDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
         <span th:text="${#numbers.formatDecimal(money, 0, 2)}"></span>
         <span th:text="${#numbers.formatDecimal(money, 3, 2)}"></span>
         <span th:text="${#lists.size(datas)}"></span>
         <span th:text="${#httpServletRequest.getParameter('page')}"></span>

     </div>


</body>
</html>