<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>study01 - helloWorld</title>
</head>

<body>

<h1>Hello : <b th:text="${name}">姓名</b></h1>
<h1>sss : <b th:text="${sss}">姓名</b></h1>
<h1>password : <b th:text="${password}">姓名</b></h1>
<h1>password : <b th:text="${password}">姓名</b></h1>
<h1>Hello : <b th:text="${name}">姓名</b></h1>
<h1>Helldsadsso : <b th:text="${name}"></b> </h1>
<h1>Hello : <b th:text="${name}"></b> </h1>
<h1>Hello : <b th:text="${name}"></b> </h1>
<h1>Helsddslo : <b th:text="${name}"></b> </h1>
<h1>Helsddssssddlo : <b th:text="${name}"></b> </h1>

</body>
</html>